<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to Quoting Dojo</h1>
        <form action="/quotes" method="post">
            <p>Name: 
                <input type="text" name='name'>
            </p>
            <p>Quote:
                <textarea name="quote" id="" cols="30" rows="10"></textarea>
            </p>
            <input type="submit" value="Add Quote">
        </form>
        <a href="/quotes">All Quotes</a>
    </div> 
</body>
</html>