<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>All Quotes</h1>
        <% for (quote in all_quotes) { %>
            <h2>Name: <%= all_quotes[quote].name %></h2>
            <p>Quote: <%= all_quotes[quote].quote %></p>
            <p>Age: <%= all_quotes[quote].get('age') %></p>
            <%= all_quotes[quote].createdAt.toDateString() %>
            <hr>
        <% } %>
    </div>
</body>
</html>